.flor{
  position: relative;
  margin: 200px auto;
  width: 200px;
  height: 200px;
  animation: rotaflor 5s linear infinite;
  transform-origin: center;
}
.petal{
  width: 100px;
  height: 100px;
  background-color: #252525;
  border-radius: 0px 150px 0px 100px;
  border: solid 2px white;
  position: absolute;
  margin: 0 auto;
  transform-origin: right bottom;
}

.p02{
  background-color: black;
  top:0px;
  transform: rotate(60deg);
}
.p03{
  background-color: #252525;
  top:0px;
  transform: rotate(120deg);
}
.p04{
  background-color: black;
  top:0px;
  transform: rotate(180deg);
}
.p05{
  background-color: #252525;
  top:0px;
  transform: rotate(240deg);
}
.p06{
  background-color: black;
  top:0px;
  transform: rotate(300deg);
}

.centro{
  width: 50px;
  height: 50px;
  background-color: #F0F0F0;
  border-radius: 50%;
  top:75px;
  left: 75px;
  position: absolute;
}

img{
}

.foto{
  position: relative;
  margin: 0 auto;
  top:-350px;
  width:600px;
  height: 100px;
  z-index: -100;
}
.petal:nth-child(1){
  transform: rotate(0deg);
}
.petal:nth-child(2){
  transform: rotate(30deg);
}
.petal:nth-child(3){
  transform: rotate(60deg);
}
.petal:nth-child(4){
  transform: rotate(90deg);
}
.petal:nth-child(5){
  transform: rotate(120deg);
}
.petal:nth-child(6){
  transform: rotate(150deg);
}
.petal:nth-child(7){
  transform: rotate(180deg);
}
.petal:nth-child(8){
  transform: rotate(210deg);
}
.petal:nth-child(9){
  transform: rotate(240deg);
}
.petal:nth-child(10){
  transform: rotate(270deg);
}
.petal:nth-child(11){
  transform: rotate(300deg);
}
.petal:nth-child(12){
  transform: rotate(330deg);
}
.petal:nth-child(even){
background-color: black;
}
.petal:nth-child(4n){
background-color: #9B9A9A;
}


@keyframes rotaflor {
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}
