


body{
  margin: 0;
  padding: 0;
  width: 100%;
}

#reproductor{
  width: 100%;
  margin: 0 auto;
  display: block;
  position: fixed;
  bottom: 10%;
}

.range{
  width: 20px;
  height: 20px;
  position: relative;
  background-color: #B3CCD2;
  top: 20px;
  border-radius: 10px;
  z-index: 2;
  cursor: pointer;
  left: 25%;
}


input[type=range]{
  -webkit-appearance:none;
  width: 50%;
  margin: 0 auto;
  display: block;
}

input[type=range]:focus{
outline:none;
}

/*----- controlador -----*/
input[type=range]::-webkit-slider-thumb{
  -webkit-appearance:none;
  height: 20px;
  width: 20px;
  background-color: #A2A7A8;
  cursor: pointer;
  border-radius: 10px;
  z-index: 3;
  position: relative;
}

/*----- carril -----*/
input[type=range]::-webkit-slider-runnable-track{
  width:50%;
  background-color: #BFE2F4;
  border-radius: 10px;
  cursor: pointer;
}




/*-----  -----*/
  #playpause{
    border: none;
    text-decoration:none;
    width: 50px;
    height: 50px;
    background-color: #A2D9F5;
    border-radius: 50px;
    position: relative;
    margin: 0 auto;
    display: block;
    left: -5px;
    cursor:pointer;
  }

  #botones{
    width: 200px;
    margin: 0 auto;
  }


    .siguiente{
      margin:0 auto;
      margin-top: -50px;
      cursor: pointer;
      float: right;
      margin-right: -90px;
      background-color: transparent;
      border-top:3px solid transparent;
       border-right:3px solid transparent;
       border-bottom:3px solid transparent;
       border-left:3px solid transparent;
       cursor:pointer;
    }

    .back{
     float: left;
     margin-top: 0px;
     margin-left: -60px;
     background-color: transparent;
     border-top:3px solid transparent;
      border-right:3px solid transparent;
      border-bottom:3px solid transparent;
      border-left:3px solid transparent;
     cursor:pointer;
    }

    #emmudir{
      height: 30px;
      width: 30px;
      margin-left: 0px;
      float: right;
      margin-top: 10px;
      background-image: url("../img/simbolos/sisonido.png");
      background-size: cover;
      border-color: transparent;
      background-color: transparent;
    }


  #playpause:focus{
    outline: none;
  }


  #playpause:before, #playpause:after {
    content:"";
    display: block;
    background: white;
    left: 11px;
    top: 10px;
    color: black;
    position: absolute;
    z-index: 20;
    height: 30px;
    width: 10px;
    border: none 0 transparent;
  }

  #playpause:after{
    left: 28px;
    visibility: visible;

  }

  #playpause:focus:before, #playpause:focus:after{
    content:"";
    display: block;
    left: 15px;
    top: 10px;
    color: black;
    background-color: transparent;
    position: absolute;
    border-top: solid 15px transparent;
    border-left: solid 25px white;
    border-bottom:  solid 15px transparent;
    border-right: solid 25px transparent;
    z-index: 20;
    height: 0px;
    width: 0px;
  }

  #playpause:focus:after{
    visibility: hidden;
  }


  #barra{
    background-color: #666666;
    height: 40px;
    width: 100%;
    position: fixed;
    margin-top: -80px;
    padding: 0;
  }

  #barra #menuhamburguesa{
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }

  #menu1:hover #menu{
    display: block;
    overflow: visible;
    transition: 3s;
  }

  #menu{
    position: absolute;
    display: none;
    overflow: hidden;
    background-color: #666666;
    color: #A2D9F5;
    margin-left:-40px;
    width: 150px;
  }

  #menu li{
    text-align: center;
    list-style-type:none;
    margin-top: 20px;
    border-bottom: solid 1px #A2D9F5;
    width: 100%;
  }

  #favoritos{
    margin-bottom: -16px;
  }

  #menu a{
    text-decoration: none;
    color: #A2D9F5;
  }


  #menu1{
    position: absolute;

  }

  #barra #modonoche{
    height: 25px;
    padding-top:7px;
    margin-left: 70px;
  }

  #barra #yaimusic{
    height: 30px;
    margin: 0 auto;
    margin-top: -30px;
    display:block;
  }

.fotosalbum{
  margin-top: 80px;
}

#listacanciones{
  font-family: FreeMono, monospace;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 60px;
  height: 650px;
  background-color: #F6FCFF;
  overflow: scroll;
}

#reproduciendo{
  margin: 0 auto;
  text-align: center;
  display: block;
  position: fixed;
  bottom: 3%;
  left:50%;
}

h5{
  margin-top: -20px;
  font-family: FreeMono, monospace;
}
p{
  font-family: FreeMono, monospace;
}

h1{
  color: #A2D9F5;
}


.corazon{
width: 20px;
height: 20px;
float: right;
margin-top: -35px;
margin-right: 30px;
}
#nyd{
  width: 25px;
  height: 30px;
  margin-left: 60px;
  margin-top: 5px;
  background-image: url("../img/modonochedes.png");
  background-size: 15px;
  background-color: transparent;
  border-color: transparent;
  background-repeat: no-repeat;
}
#nyd:focus{
  width: 25px;
  height: 30px;
  margin-left: 60px;
  margin-top: 5px;
  background-image: url("../img/modonocheact.png");
  background-size: 15px;
  background-color: transparent;
  border-color: transparent;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 960px){

#listacanciones{
  font-family: FreeMono, monospace;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 60px;
  height: 650px;
  background-color: #F6FCFF;
  overflow: scroll;
}

}

@media only screen and (max-width: 959px){

  #listacanciones{
    font-family: FreeMono, monospace;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    margin-top: 60px;
    height: 400px;
    background-color: #F6FCFF;
    overflow: scroll;
  }


}
